.bold-text {
    -fx-text-fill: #333333;
    -fx-font-size: 20px;
    -fx-font-family: "YouSheBiaoTiHei";
}

.borderPane-style {
    -fx-background-color: #F2FDF2;
    -fx-border-width: 1px;
    -fx-border-color: rgba(40, 49, 66, 100);
    -fx-border-radius: 0px;
}

.button {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-background-color: white;
    -fx-border-color: #797979;
    -fx-border-radius: 4;
    -fx-font-family: "YouSheBiaoTiHei";
}

.collections-text {
    -fx-font-family: "YouSheBiaoTiHei";
    -fx-text-fill: #333333;
    -fx-font-size: 16px;
}


.table-view {
    -fx-border-color: #797979;
    -fx-border-radius: 2;
    -fx-font-family: "ZCOOL XiaoWei Regular";
}

.table-view .column-header {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-color: #E7E8E8;
    -fx-padding: 10 0;
}

.table-row-cell {
    -fx-border-color: #D8D8D8;
    -fx-font-size: 11px;
    -fx-padding: 7.5 0;
}
